.formDiv{
    margin:60px;
    display: flex;
    justify-content: center;
}

.inputs{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 500px;
    height: 50px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 10px;
    font-size: larger;
    padding-left: 13px;
}
.checkbox{
    margin-right: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: start;
}
.checkboxP{
    margin-bottom: 2px;
    margin-left: 5px;
}
.btnn{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 500px;
    height: 45px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    background-color: rgb(232, 232, 232);
}
.btnn:hover{
background-color: rgb(198, 198, 198);
}
.signup{
    display: flex;
    justify-content: center;
    align-items: center;
}
.signupLink{
    font-weight: 600;
    margin-bottom: 18px;
    margin-left: 3px;
}
.signupLink:hover{
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
}

@media (max-width:768px){
    .inputs{      
        width: 300px;
        height: 50px;
    }

    .btnn{
        width: 300px;
        height: 45px;
    }
}